<footer>
    <a href="https://www.ynov.com/campus/toulouse/"><img id="logoYnov" src="../img/logo-ynov-blanc.png" alt="Logo Ynov"></a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://www.netflix.com">Netflix.com</a></li>
            <li><a href="/AboutUs">About us</a></li>
        </ul>
    </nav>
    <div class="logoMedia">
        <a href="https://twitter.com/ynovtoulouse"><i id="logoTwitter" class="bi bi-twitter" ></i></a>
        <a href="https://www.instagram.com/toulouse_ynovcampus/"><i id="logoInstagram" class="bi bi-instagram"></i></a>
        <a href="https://fr-fr.facebook.com/YnovToulouse/"><i id="logoFacebook" class="bi bi-facebook"></i></a>
    </div>
</footer>