<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="css/404.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon/favicon.ico">
</head>
<body>
<section class="section1">
    <div class="content">
        <h1>404 error page</h1>
        <img src="img/404.gif">
        <p>it's look like you lost ...</p><br><br>
        <button onclick="window.history.back()"> Return Back >> </button>
    </div>
</section>
</body>
</html>