<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crawflix</title>
    <meta name="description" content="This page contains information about the project and the creators.">
    <meta name="keywords" content="netflix,news,shows,movies,upcoming,latest,crawflix,crawler,quitting,leaving,actualities,top 10"/>
    <meta name="theme-color" content="#D60002"/>
    <link rel="stylesheet" href="css/aboutus.css">
    <link rel="stylesheet" href="css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon/favicon.ico">
</head>
<body>
{{> header}}
<section class="section2">
    <div class="Left1">
        <div class="Content1A">
            <div class="Content2A">
                <h1>About us</h1>
                <hr >
                <h3>Here you will find all the information<br> about the project,<br> the team and the resources used.</h3>
            </div>
        </div>
    </div>
    <div class="Right1">
        <div class="Content2B">
            <h2>Our mission</h2>
            <h3>▌What is a crawler?</h3>
            <p>To simplify, it's a bot that moves from link to link on the Internet by retrieving the information<br> it needs from the web pages it visits or do actions on it.</p>
            <h3>▌Required</h3>
            <p>
                <span>1 </span> The web crawler have to be run on a Node.js server<br><br>
                <span>2 </span> You have to create a web page for visualisation, linked with your server<br><br>
                <span>3 </span> [BONUS] Add a database linked with the server<br><br>
                <span>4 </span> Code on gitea
            </p>
        </div>
    </div>
</section>
<section class="section3">
    <div class="Left3">
        <div class="Content3A">
            <hr>
            <h2>Timeline</h2>
            <hr>
            <h3>Here is the unfolding of the stages <br>of organization and work of the project</h3>
        </div>
        <div class="Content3AA">
            <h3>▌Other software used :</h3>
            <p>-Trello online project management tool for the distribution of task cuttings and work breakdown.</p>
            <p>-Figma as a website prototyping tool</p><br>
            <h3>▌Crawler website used :</h3><br>
            <button onclick="window.location.href = 'https://top10.netflix.com/?msclkid=2934f898cade11ec95ed861108d4defd';"> top10.netflix.com </button>
            <button onclick="window.location.href = 'https://netflix.com';"> Netflix.com </button>
        </div>
    </div>
    <div class="Right3">
        <div class="timeline">
            <ul>
                <li>
                    <div class="content3">
                        <h3>Research & mock-up</h3>
                        <p>Research on the subject, steps carried out, distribution of tasks and mockup website</p>
                    </div>
                    <div class="time">
                        <h4>05/04/2022</h4>
                    </div>
                </li>
                <li>
                    <div class="content3">
                        <h3><span>Crawler</span></h3>
                        <p>use of the Node library Puppeteer, an API who control headless Chrome, and writing Javascript code</p>
                    </div>
                    <div class="time">
                        <h4>1 & 2nd Week</h4>
                    </div>
                </li>
                <li>
                    <div class="content3">
                        <h3>Data Base</h3>
                        <p>Use of an oject data modelling (Mongoose) library for Mongo DB, and Mongo DB</p>
                    </div>
                    <div class="time">
                        <h4>2 week</h4>
                    </div>
                </li>
                <li>
                    <div class="content3">
                        <h3><span>Server</span></h3>
                        <p>Express.js is a framework for building web applications based on Node.js or Mongo.db</p>
                    </div>
                    <div class="time">
                        <h4>3rd week</h4>
                    </div>
                </li>
                <li>
                    <div class="content3">
                        <h3>Development of the pages of the website</h3>
                        <p>language use HTML, javascript and CSS</p>
                    </div>
                    <div class="time">
                        <h4>3rd week - x</h4>
                    </div>
                </li>
                <li>
                    <div class="content3">
                        <h3><span>Presentation</span></h3>
                        <p>End of the project</p>
                    </div>
                    <div class="time">
                        <h4>13/05/2022</h4>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<div class="section4">
    <div class="section4A">
        <h2>What language we use</h2>
        <h3>Distribution of all different languages used on the Crawfix website</h3>
    </div>
    <div class="section4B">
        <div class="Left4">
            <div class="Content4">
                <div class="single-chart">
                    <svg viewBox="0 0 40 40" class="circular-chart First">
                        <path class="circle-bg"
                              d="M18 2
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                              stroke-dasharray="23.6, 100"
                              d="M18 2
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">23,6%</text>
                    </svg>
                </div>
                <h2>JS</h2>
                <p>JavaScript is a scripting programming language mainly used in interactive web pages and for the backend of the Crawler.</p>
            </div>
        </div>
        <div class="Center4">
            <div class="Content4">
                <div class="single-chart">
                    <svg viewBox="0 0 40 40" class="circular-chart Second">
                        <path class="circle-bg"
                              d="M18 2
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                              stroke-dasharray="32.4, 100"
                              d="M18 2
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">32.4%</text>
                    </svg>
                </div>
                <h2>HBS</h2>
                <p>Handlebars or HBS is a templating engine</p>
            </div>
        </div>
        <div class="Right4">
            <div class="Content4">
                <div class="single-chart">
                    <svg viewBox="0 0 40 40" class="circular-chart Third">
                        <path class="circle-bg"
                              d="M18 2
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                              stroke-dasharray="44, 100"
                              d="M18 2
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">44%</text>
                    </svg>
                </div>
                <h2>CSS</h2>
                <p>Cascading Style Sheets (CSS) is the code used to format a web page</p>
            </div>
        </div>

        <script>
            var scrollpos = window.scrollY; // window scroll position
            var wh = window.innerHeight-6050;// as soon as element touches bottom with offset event starts
            var element = document.querySelector(".circle"); //element

            window.addEventListener('scroll', function(){
                if(scrollpos > (element.offsetTop - wh)){
                    element.classList.add("onScroll");
                }
            });
        </script>
    </div>
    <div class="section4C">
        <h3>The data base have been make with "mongodb" by using "mongoose" api.</h3>
    </div>
</div>
<section class="section5">
    <div class="Left5">
        <div class="Content5">
            <h2>About Us</h2>
            <hr>
            <p>Time to discover the team and <br>where they come from.</p>
        </div>
        <div class="Content5AA">
            <img src="img/logoynovletter.png" alt="Logo ynov">
            <h2>Toulouse Ynov</h2>
            <p><span class='bi bi-house-fill'></span> Adress : 2 PL de l'Europe, 31200 Toulouse</p>
            <p><i class='bi bi-at'></i> Mail: contact-toulouse@ynov.com</p>
            <p><span class='bi bi-telephone-fill'></span> Number : 05 82 95 10 48</p>
        </div>
    </div>
    <div class="Right5">
        <div class="Right5A">
            <img src="img/woman%20(2).png" style="width: 70%;" alt="woman icon">
        </div>
        <div class="Right5B">
            <div>
                <h3>Justine Seguin le Boulanger</h3>
                <h3><span>B1 Ynov informatique</span></h3>
                <p>Student at Ynov, curious and passionate, I aspire to become a full stack developer</p>
            </div>
            <div></div>
        </div>
        <div class="Right5A">
            <img src="img/man.png" style="width: 70%; " alt="man icon">
        </div>
        <div class="Right5B">
            <div><h3>Yohan Velay</h3>
                <h3><span>B1 Ynov informatique</span></h3>
                <p>Student at Ynov, passionate about computer science and new technologies. Always motivated to learn more. I would like to oreint myself in video games as a developer</p>
            </div>
            <div></div>
        </div><div class="Right5A">
            <img src="img/woman%20(3).png" style="width: 70%; align-items: center" alt="woman icon">
        </div>
        <div class="Right5B">
            <div></div>
            <div><h3>Vanessa Tessier</h3>
                <h3><span>B1 Ynov computer</span></h3>
                <p>Student at Ynov, likes web development especially front-end.</p>
            </div>
        </div>
    </div>
</section>
<section class="section6">
    <iframe title="ynov location google map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.8136479634454!2d1.4297025150906602!3d43.610421563214594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebdbb42d83293%3A0x6e448c24640106bd!2sToulouse%20Ynov%20Campus!5e0!3m2!1sfr!2sfr!" width="100%" height="250" style="border:0;" ></iframe>
</section>
    {{> footer}}
</body>
</html>